<div class="container">
    <div class="row mb-4">
        <div class="col-6 p-4">
            <helphi-user-settings-menu
                helpRoute=""
                settingRoute=""
                profileRoute="">
            </helphi-user-settings-menu>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <button matRipple class="btn btn-primary me-1">
                        Primary
                    </button>
                    <button matRipple class="btn btn-success me-1">
                        Success
                    </button>
                    <button matRipple class="btn btn-danger me-1">
                        Danger
                    </button>
                    <button matRipple class="btn btn-warning me-1">
                        Warning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">header</div>
                <div class="card-body">
                    body
                    <button class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>
    </div>
</div>
